<div class="banner-star">
  <h1><%= @test_sucker.name %></h1>
</div>

<div class="container-beast">


  <% if @test_sucker == current_sucker %>
    <h2>Bookings</h2>
    <div class="cards d-flex flex-wrap">
      <% @test_sucker.bookings.each do |booking| %>
        <div class="card w-25 m-3">
          <h5><%= booking.beast.name %></h5>
          <p>From <%= booking.start_date %></p>
          <p>To <%= booking.end_date %></p>
          <% total = (booking.end_date - booking.start_date) * booking.beast.price%>
          <p>You paid $<%= total %>, loser !</p>
          <%= link_to "add review", booking_path(booking.id) %>
        </div>
      <% end %>
    </div>
  <% end %>



  <h2>Beasts</h2>
  <div class="cards d-flex flex-wrap">
    <% @test_sucker.beasts.each do |beast| %>
      <div class="card w-25 m-3">
        <h5><%= beast.name %></h5>
        <p><%= beast.type.name %></p>
        <p><%= beast.region %></p>
        <p>$<%= beast.price %>/day</p>
        <% if @test_sucker == current_sucker %>
          <%= link_to "edit", edit_beast_path(beast.id) %>
        <% end %>
      </div>
   <% end %>
  </div>

  <% if @test_sucker == current_sucker %>
    <h2>Your Beasts booking history</h2>

    <div class="cards d-flex flex-wrap">
      <% @test_sucker.beast_ids.each do |id| %>
        <% @booking = Booking.where(beast_id: id) %>
         <% @booking.each do |booking| %>
          <div class="card">
            <h5><%= booking.beast.name %></h5>
            <p><%= booking.start_date %></p>
            <p><%= booking.end_date %></p>
            <p>$<%= booking.beast.price %>/day</p>
            <% total = (booking.end_date - booking.start_date) * booking.beast.price%>
            <p>You gained $<%= total %>, bitch please !</p>
            <%= link_to "add review", booking_path(booking.id) %>
          </div>
         <% end %>
      <% end %>
    </div>

  <% end %>

  <h2>Reviews</h2>
  <% if @count.zero? %>
      <p>No ratings given yet.</p>
    <% else %>
      <p>Average rating: </p>
      <% (@average_rating / @count).times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <%= @average_rating.fdiv(@count).round(1) %>
    <% end %>
  <% @test_sucker.reviews.each do |review| %>
    <% if !review.beast_content.nil? && !review.beast_rating.nil? %>
      <div class="card-review">
        <p><%= review.booking.beast.sucker.name + " for " +review.booking.beast.name %></p>
        <h5><%= review.beast_content %></h5>
        <% unless review.beast_rating.nil? %>
          <% review.beast_rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>


</div>
