<div>
  <% @beasts.each do |beast| %>
    <div class="card">
      <h4><%= link_to beast.name, beast_path(beast.id) %></h4>
      <%= beast.type.name %> <br>
      <%= beast.sucker.name %>
    </div>
  <% end %>
</div>

<!-- MAP (generic) -->
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<!-- MAP -->
