
<div class="banner-star">
  <h1><%= @current_beast.name %></h1>
  <h2><%= @current_beast.description %></h2>
  <%= link_to @current_beast.sucker.name, sucker_path(@current_beast.sucker.id) %> <br>

</div>

<div class="container-beast">

  <div class="info-book">
    <div>
      <h4><%=  @current_beast.name %></h4>
      <ul>
        <li>Region: <%= @current_beast.region %></li>
        <li>Type: <%= @current_beast.type.name %></li>
      </ul>

      <!-- Caroussel -->
      <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <!-- <div class="carousel-inner">

          <div class="item active">
              <%= cl_image_tag @current_beast.photos[0].path %>
          </div>
 -->
          <% @current_beast.photos.each do |photo| %>
            <div class="item">
              <%= cl_image_tag photo.path %>
            </div>
          <% end %>

        <!-- </div> -->

        <!-- Left and right controls -->
        <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->

      <!-- Caroussel -->

      <div
        id="map2"
        style="width: 100%;
        height: 150px; margin: 0 auto;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

    </div>

    <div class="form">
      <h4>Book this beast</h4>
      <%= render 'booking_form', beast: @current_beast, booking: @booking %>
    </div>
  </div>

<div>
  <h4>Price</h4>
  <p>$<%= @current_beast.price %>/ day</p>
</div>

  <div>
    <h4>Reviews</h4>
    <% if @count.zero? %>
      <p>No ratings given yet.</p>
    <% else %>
      <p>Average rating: </p>
      <% (@average_rating / @count).times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <%= @average_rating.fdiv(@count) %>
    <% end %>
    <% @current_beast.reviews.each do |review| %>
      <% unless review.beast_content.nil? && review.beast_rating.nil?%>
        <div class="card-review">
          <%= review.beast_content %> <br>
          <% unless review.beast_rating.nil? %>
            <% review.beast_rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<!--
- Booking form
- back to list
- (date-time price thing)
- Photos
- Reviews + review form
- contact host
- (Availibilities)
 -->
