
<div class="banner-star">
  <h1><%= @current_beast.name %></h1>
  <h2><%= @current_beast.description %></h2>
  <%= link_to @current_beast.sucker.name, sucker_path(@current_beast.sucker.id) %> <br>

</div>

<div class="container-beast">
  <div>
    <h4>Book this beast</h4>
    <%= render 'booking_form', beast: @current_beast, booking: @booking %>
  </div>

<div>
  <h4>Price</h4>
  <p>$<%= @current_beast.price %>/ day</p>
</div>

  <div>
    <h4>Reviews</h4>
    <% if @count.zero? %>
      <p>No ratings given yet.</p>
    <% else %>
      <p>Average rating: </p>
      <%= @average_rating.fdiv(@count) %>
    <% end %>
    <% @current_beast.reviews.each do |review| %>
      <div class="card">
        <%= review.beast_content %>
      </div>
    <% end %>
  </div>

</div>

<!--
- Booking form
- back to list
- (date-time price thing)
- Photos
- Reviews + review form
- contact host
- (Availibilities)
 -->
