
<div class="banner-star">
  <h1><%= @current_beast.name %></h1>
  <h2><%= @current_beast.description %></h2>
  <%= link_to @current_beast.sucker.name, sucker_path(@current_beast.sucker.id) %> <br>

</div>

<div class="container-beast">

  <div class="info-book">
    <div>
      <h4><%=  @current_beast.name %></h4>
      <ul>
        <li>Region: <%= @current_beast.region %></li>
        <li>Type: <%= @current_beast.type.name %></li>
      </ul>

      <div
        id="map2"
        style="width: 100%;
        height: 150px; margin: 0 auto;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

    </div>

    <div class="form">
      <h4>Book this beast</h4>
      <%= render 'booking_form', beast: @current_beast, booking: @booking %>
    </div>
  </div>

<div>
  <h4>Price</h4>
  <p>$<%= @current_beast.price %>/ day</p>
</div>

  <div>
    <h4>Reviews</h4>
    <% if @count.zero? %>
      <p>No ratings given yet.</p>
    <% else %>
      <p>Average rating: </p>
      <% (@average_rating / @count).times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <%= @average_rating.fdiv(@count).round(1) %>
    <% end %>
    <% @current_beast.reviews.each do |review| %>
      <% unless review.beast_content.nil? && review.beast_rating.nil?%>
        <div class="card-review">
          <small>from <%= review.booking.sucker.name %></small> <br>
          <%= review.beast_content %> <br>
          <% unless review.beast_rating.nil? %>
            <% review.beast_rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<!--
- Booking form
- back to list
- (date-time price thing)
- Photos
- Reviews + review form
- contact host
- (Availibilities)
 -->
