<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <!-- <a class="navbar-brand" href="#">BnB</a> -->
            <%= link_to "BnB", root_path, :class => "navbar-brand" %>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Find a beast!</a> -->
            <%= link_to "Find a beast!", beasts_path, :class => "nav-link" %>
          </li>
        </ul>
      </div>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Sign Up<span class="sr-only">(current)</span></a> -->
            <%= link_to "Sign Up", new_sucker_registration_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Log In</a> -->
            <%= link_to "Log In", new_sucker_session_path, :class => "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
